@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}


<div class="page-header">
    <div class="container-fluid">
        <h1>Enter your email.</h1>
    </div>
</div>
<input type='button' value='Go Back' class="btn  btn-default" onclick="document.location.href='/Agent/Home/Index';" />

<div class="page-content">
    <div class="page-content-inner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3">
                    <form method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
